@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  


  /* Exemple de styles CSS pour les boutons et la pagination */
/* Changez les couleurs selon vos préférences */
.custom-button {
  /* Vos styles personnalisés pour les boutons */
  padding: 8px 16px;
  border: 1px solid #000;
  background-color: #f1f1f1;
  color: #333;
}

.pagination {
  /* Vos styles personnalisés pour la barre de pagination */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  /* Styles pour chaque bouton de pagination */
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #333;
  background-color: #f1f1f1;
  color: #333;
}

.pagination button:hover {
  /* Styles au survol des boutons de pagination */
  background-color: #333;
  color: #fff;
}


/* RestaurantStatistics.css */

.restaurant-statistics-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-statistics-container h2 {
  color: #333;
}

.restaurant-statistics-container p {
  margin-bottom: 10px;
  color: #555;
}



/* RestaurantStatistics.css */
.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  animation: fadeIn 1s ease-in;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.statistic {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.statistic:hover {
  transform: scale(1.02);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
